:root {
    --bg1: #031E26;
    --bg2: #084C61;
    --txt: #FFFFFF;
    --fg: #56A3A6;
    --fg2: #4F6D7A;
    --hl1: #DB504A;
    --hl2: #E3B505;
}

body {
    background-color: var(--bg1);
}

* {
    color: var(--txt);
    font-family: FreeMono, monospace;
    text-align: center;
}

h1 {
    color: var(--hl1);
    font-size: 40pt;
}

content {
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px 20px;

    background-color: var(--bg2);
    box-shadow: var(--fg2);
}

.centred {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.title-img {
    display: block;
    padding: 20px;
}

p {
    padding: 15px;
}

.contact-grid {
    display: grid;
    /* width: min-content; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px;
    place-items: center;
}

.contact-grid a {
    width: 90%;
}

@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 25pt;
    }

    content {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-grid {
        /* grid-template-columns: 1fr 100px 100px 100px 100px 1fr; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px;
    }

    .contact-grid a img {
        width: 100%;
    }

    .title-img {
        width: 75%;
    }
}